body
{
    margin: 0;
    padding: 0;
    background-color: black;
}

.hbg
{
    position: fixed;
    height: 33vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    overflow-x:hidden;
    transition: .5s linear;
    animation: sOpacity 1.5s;

}

.header_container
{
    display: flex;
    position: absolute;
    height: 25vh; 
}

.header_l
{
    display:flex;
    animation: ctlslidein 1.5s ease-in-out forwards; 
}

#tl
{
    display: flex;
    position: absolute;
    transition: .5s linear;
    z-index: 1;
    height: 33vh;
}

.st0
{
    fill: red;
    animation: cycle 3s infinite alternate linear;
}

@keyframes cycle {

    0%
    {

        fill:red;
        
    }

    100%
    {

            fill:#4400ff;
 
    }
    
}

@media only screen and (max-width:640px)
{

    .hbg
    {

        display: none;
        transition:1s;

    }

}

#tl2
{

    position: relative;
    object-fit: cover;
    transition: 1s linear;
    z-index: 1;

}

.st1
{

    fill: red;
    animation: cycle 3s infinite alternate linear;
    overflow-x:hidden;

}

@media only screen and (max-width:640px)
{

    body 
    {

        overflow-x: hidden;
        margin: 0;
    }


    #tl
    {

        display: none;
        object-fit: contain;
        overflow-x: hidden;
        transition: .5s linear;
        
    
    }

    #tl2
    {

        position: fixed;
        overflow-x: hidden;
        object-fit: fill;
        transition: .5s linear;
        width: 100%;

    }

    .hbg

    {
        margin-top: 20vw;
        height: 30vw;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;

    }

    .hbg2
    {

        z-index: 2;
        display: flex;
        right: 0;
        top: 30vw;
        position: fixed;
        width: 90vw;
        transition: linear .5s;

    }


    #logo_atr

    {

        position: relative;
        width: 100%;
        max-width:20vw;
        z-index: 1;
        left: 5vw;
        top: 2vw;
        height: max-content;
        transition: .5s linear;
 
    }

}

@media only screen and (min-width:640px)
{

    #tl2
    {

        display: none;
        transition: .5s linear;
        
    }

    #logo_atr
{

    display: flex;
    transform: rotate(-45deg);
    object-fit:contain;
    z-index:2;
    align-self: center;
    transition: .5s linear;
    height: 12vh;
    animation: tllfloat 1s infinite alternate linear;

}

    #tl
    {

    transition: .5s linear;

    }

    .hbg
    {

    transition: .5s linear;


    }

    .hbg2
    {
    
    z-index: 2;
    display: flex;
    right: 0;
    top: 7vh;
    position: fixed;
    width: 75vw;
    transition: linear .5s;
    }

}

.lg0,.lg3
{

    fill:cyan;
    animation: cycle2 3s infinite alternate linear;

}

@keyframes cycle2
{

    0%
    {

        fill: cyan;

    }

    100%
    {

        fill: black;

    }

}

@keyframes tllfloat

{

    0%        {margin-top: 0.000px; margin-left: 0.000px;}
    100%      {margin-top: 8.000px; margin-left: 8.000px;}

}

@keyframes tllfloat2

{

    0%        {margin-top: 0%;}
    100%      {margin-top: 8%;}

}

@keyframes ctlslidein
{
    from 
    { margin-left: -50vw; margin-top: -50vw;} 
    to {margin-left:0vw; margin-top: 0vw;}
}

.s1
{

    display: inline-flex;
    max-width: max-content;

}

.sbg
{
   
    object-fit: cover;
    animation:sroll 5s linear infinite reverse;
    position: relative;

}

@keyframes sroll 

    {
    
        0%

        {

            transform: translateX(0%);
           

        }

        100%

        {

            transform: translateX(-200%);
            
        }

    }

    @keyframes sOpacity

    {
    
        from
    
        {
    
            opacity: 0%;
           
    
        }
    
        to
    
        {
    
            opacity: 100%;
            
        }
    
    }    


